<settings>
	<category label="General">
		<setting id="dostr8" label="Find Gay Porn" values="true" default="true" type="bool" visible="false" />
		<setting id="lastsearch" label="Last Search" values="" default="" type="text"  visible="true"  />
		<setting id="sortby" label="Sort Method" values="newest|views|mostviewed|rating|favorites|comments|votes|longest|featured" default="newest" type="labelenum" visible="false" />
        <setting id="viewmode" label="Set View $INFO[Container.Viewmode]" values="500" default="500" type="number" visible="true" />
		<setting id="downloadpath" label="Download Path" values="" default="" type="folder"  visible="true" />
		<setting id="filterhosts" label="Only These Hosts" values="" default="" type="text" visible="true" />
		<setting id="filternames" label="File Name Query" values="" default="" type="text" visible="true" />
		<setting id="filterwords" label="Additional Query Terms" values="" default="#newlinks" type="text"  visible="true"  />
		<setting id="debugon" label="DEBUG MODE ON" values="false" default="false" type="bool" visible="true" />
	</category>
</settings>
